{% extends "mainPage/index.html" %}
{% load static %}

{% block header_image %}{% static 'assets/img/page_backgrounds/activitiesImage.jpg' %}{% endblock %}
{% block header_title %}פעילות העמותה{% endblock %}


{% block content %}
<!-- Main Content-->
<div class="col-md-10 col-lg-8 col-xl-10">

    <h2>הקמפיינים שלנו</h2>
    <hr class="my-4"/>
    <p>במיוחד במהלך החגים, אנחנו עושים מאמץ מרבי כדי להבטיח שגם למשפחות הנזקקות תהיה חוויית חג כמו לכולנו.
        <br><br>
        על הקמפיינים שלנו:</p>
    <div class="image-container">
        <a class="icon-contact" href="{% url 'roshHashanahCampaignPage' %}">
            <img src="{% static 'assets/img/campaigns/rosh_hashanah.jpg' %}" alt="קמפיין ראש השנה">
        </a>
        <a class="icon-contact" href="{% url 'purimCampaignPage' %}">
            <img src="{% static 'assets/img/campaigns/purim.jpg' %}" alt="קמפיין פורים">
        </a>
        <a class="icon-contact" href="{% url 'hanukkahCampaignPage' %}">
            <img src="{% static 'assets/img/campaigns/hanukkah.jpg' %}" alt="קמפיין חנוכה">
        </a>
        <a class="icon-contact" href="{% url 'passoverCampaignPage' %}">
            <img src="{% static 'assets/img/campaigns/passover.jpg' %}" alt="קמפיין פסח">
        </a>
    </div>

    <br>

    <h2>על החינוך הכלכלי</h2>
    <hr class="my-4"/>
    <p>
        לפי נתוני ביטוח הלאומי מ2021, מעל 800 אלף ישראלים סובלים מרעב.
        מדינת ישראל מבורכת בלא מעט עמותות אשר מספקות מזון ומוצרי צריכה בסיסיים לאותן משפחות,
        אולם בעתיד הנראה לעין, לא נראה שמספר הנזקקים קטן.
    </p>
    <p>
        כלומר, במציאות הנוכחית, רוב העמותות מתמקדות בסיוע כלכלי ולא בייעוץ כלכלי.
        במצב הקיים, יותר ויותר משפחות מצטרפות למעגל העוני ופחות עוזבות אותו מדי שנה.
    </p>
    <p>
        בדיוק מסיבה זו, הוצאת המשפחה ממעגל העוני הוא היעד המרכזי אליו העמותה מכוונת.
        העמותה רואה בתהליך החינוך הכלכלי עם המשפחות חלק אינטרגלי משיקום המשפחה,
        וכל משפחה אשר מצטרפת לרשימת המשפחות הנזקקות של העמותה מתחילה בתהליך כזה.
    </p>
    <p>
        בסופו של יום, מטרתה המרכזית של העמותה היא לא סלי המזון כשלעצמם,
        אלא התהליך שהמשפחה עוברת בדרך לעצמאות.
    </p>
    <p>
        תהליך הייעוץ אינו עומד כשלעצמו אלא מהווה חלק ממעטפת הכוללת שיתוף פעולה
        עם עובדים סוציאלים מטעם הרווחה.
        אנחנו מאמינים בחשיבות יצירת המעטפת, כדי לאפשר למשפחה את השקט הנדרש להתקדם בקצב שלה,
        ללא הפרעות חיצוניות, ועם משוב חיובי מהצד שלנו.
    </p>
    <p>
        התהליך הכלכלי מתבצע ביחד עם עמותת מקימי, עמותה אשר מתמחה בייעוץ כלכלי כבר יותר מעשור.
        בצורה זו, העמותה נעזרת בנסיון הרב של עמותת מקימי שכולל ייעוץ כלכלי למעל 4000 משפחות.
    </p>
    <div class="content-container">
        <p>
            כדי להתאים את התהליך, המשפחה פונה לעמותה ע"י עדכון המצב הכלכלי,
            מספר הנפשות, המצב הבריאותי, המצב התעסוקתי של שני ההורים ועוד.
            <br><br>
            לאחר מכן, התהליך נפתח בפגישה ביתית בין כולנו אחים למשפחה כדי להכיר את המשפחה,
            להבין את הקשיים היום-יומיים, ולהסביר את התהליך בצורה בהירה כדי ליצור שיתוף פעולה מלא מצד המשפחה.
        </p>
        <img class='image' src="{% static 'assets/img/campaign_images/financialManagement.jpg' %}"
             alt='תמונה לתהליך הכלכלי'>
    </div>
    <p>
        לאחר הפגישה הביתית, כולנו אחים פונה לארגון מקימי והמשפחה מתחילה את התהליך הכלכלי.
    </p>
    <p>
        כמובן שהתהליך הוא חלק בלתי נפרד מיציאה ממעגל העוני,
        אך לצידו נדרשת עבודה נוספת אשר באה לידי ביטוי במגוון תחומים נוספים אשר נוגעים לחיי היום-יום של המשפחה.
    </p>

    <h2>הודעות ממשפחות</h2>
    <hr class="my-4"/>
    <p>
        אין דבר שיותר משמח אותנו ומדרבן אותנו להמשיך בעשייה מהודעות ממשפחות שמודות לנו על סלי המזון:
    </p>
    <div class="image-container">
        <a class="family-contact">
            <img src="{% static 'assets/img/campaigns/families/image1.jpg' %}" alt="קמפיין ראש השנה">
        </a>
        <a class="family-contact">
            <img src="{% static 'assets/img/campaigns/families/image2.jpg' %}" alt="קמפיין פורים">
        </a>
        <a class="family-contact">
            <img src="{% static 'assets/img/campaigns/families/image3.jpg' %}" alt="קמפיין חנוכה">
        </a>
    </div>
    <br>

    <h2>בזמן המלחמה</h2>
    <hr class="my-4"/>
    <p>
        בזמן המלחמה, עמותת כולנו אחים חילקה ערכות חנוכה בבתי החולים לחיילים פצועים.
        בנוסף, התרמנו עבור חיילים ציוד נחוץ ללחימה.
    </p>

</div>
{% endblock content %}