{% extends "mainPage/index.html" %}
{% load static %}

{% block header_image %}{% static 'assets/img/page_backgrounds/donationImage.jpg' %}{% endblock %}
{% block header_title %}קמפיין פורים{% endblock %}


{% block content %}
<!-- Main Content-->
<div class="col-md-10 col-lg-8 col-xl-12">
    <h2>קמפיין פורים</h2>
    <hr class="my-4"/>
    <h3>פרויקט "תחפושת לכל ילד"</h3>
    <p>
        במהלך חג הפורים, עמותת כולנו אחים פותחת בקמפיין כדי לאפשר לילדי המשפחות הנזקקות לחגוג את החג עם תחפושות,
        כדי שכל הילדים יחוו את חג הפורים כמו כולם.
    </p>
    <p>
        כדי להתאים את התחפושת לכל ילד, נעשה בירור מראש עם כל ילד וילד למה הוא היה רוצה להתחפש לחג הפורים.
    </p>
    <p>
        עשרות אנשים נרתמו למאמץ ותרמו תחפושות ישנות שכבר לא בשימוש. בנוסף, אלו שאין להם תחפושות אבל רצו לסייע
        בכל אופן, תרמו כספית כדי לאפשר לקנות תחפושות חדשות לילדים.
    </p>
    <p>
        זאת ועוד, נעשה שיתוף פעולה עם גמ"ח בית גמליאל.
        הגמ"ח סיפק מספר לא מבוטל של תחפושות ואף אפשר לילדים לבוא ולבחור בעצמם את התחפושת לחג.
    </p>
    <p>
        בסופו של הקמפיין, עמותת כולנו אחים סיפקה לעשרות ילדים תחפושת לחג הפורים, ונתן תחושת שייכות לילדים בבתי הספר ובגנים.
    </p>
    <div class="image-container">
        <img src="{% static 'assets/img/campaign_images/purim/image1.jpg' %}">
        <img src="{% static 'assets/img/campaign_images/purim/image2.jpg' %}">
        <img src="{% static 'assets/img/campaign_images/purim/image3.jpg' %}">
    </div>

    <hr class="my-4"/>
    <h3>סעודת פורים</h3>
    <p>
        עמותת כולנו אחים סיפקה סעודת פורים משובחת למשפחות נזקקות בשווי 250₪.
    </p>
    <p>
        הסל כלל את כל הדרוש על מנת לאפשר למשפחה לקיים סעודת חג מכובדת כמו כולם:
        בשר, דגים, יין, משלוח מנות ועוד מצרכים נלווים, כפי מצוות החג.
    </p>
    <p>
        מצוות סעודת הפורים מחויבת להיערך בו ביום, ולכן, משלוח סל המזון התקיים בתיאום עם המשפחות,
        כדי לאפשר להן לערוך את הסעודה בעיתה ובזמנה.
    </p>
    <p>
        קמפיין זה נבע מתוך הבנת החשיבות של יצירת נורמה בקרב המשפחות אשר עוברות תהליך שיקום מאתגר במיוחד במהלך החגים.
    </p>


    <div class="image-container">
        <img src="{% static 'assets/img/campaign_images/purim/image4.jpg' %}">
        <img src="{% static 'assets/img/campaign_images/purim/image5.jpg' %}">
        <img src="{% static 'assets/img/campaign_images/purim/image6.jpg' %}">
    </div>

    <hr class="my-4"/>
    <h3>משלוחי מנות לכלל התושבים</h3>
    <p>
         כחלק מהמאמץ להעלאת המודעות למשפחות הנזקקות, וכן מתוך רצון לחבר את כלל הציבור לעמותה,
        עמותת כולנו אחים חילקה משלוחי מנות לכלל הציבור הרחב בעיר יבנה.
    </p>
    <p>
        אריזת משלוחי המנות נעשתה ע"י בתי ספר וגנים ברחבי העיר בהתנדבות מלאה, על מנת לערב אותם בפעילות העמותה.
    </p>
    <p>
        בנוסף לאריזת המשלוחים, חלוקת משלוחי המנות נעשתה בשיתוף פעולה עם בתי ספר וכן עם בנות השירות בעיר
        בארגון "בת עמי".
    </p>
    <p>
        הפרויקט נוצר מתוך כוונה לחבר את כלל הציבור לעמותה ולאפשר לתושבים להתנדב ולסייע.
    </p>

    <div class="image-container">
        <img src="{% static 'assets/img/campaign_images/purim/image7.jpg' %}">
        <img src="{% static 'assets/img/campaign_images/purim/image8.jpg' %}">
        <img src="{% static 'assets/img/campaign_images/purim/image9.jpg' %}">
    </div>

    <hr class="my-4"/>
    <h3>פרויקט חלוקת משלוחי מנות בבתי חולים</h3>
    <p>
        מתוך רצון להגיע לכל הקצוות בחברה, כולנו אחים חילקה משלוחי מנות בבתי חולים במגוון מחלקות.
    </p>
    <p>
        בין היתר, חולקו בבתי החולים אסותא, קפלן ואסף הרופא.
        צוותי הרפואה בבתי החולים קיבלו את המנדבים ונתרמו בעצמם לסייע בחלוקה לחולים.
    </p>
    <div class="image-container">
        <img src="{% static 'assets/img/campaign_images/purim/image10.jpg' %}">
        <img src="{% static 'assets/img/campaign_images/purim/image11.jpg' %}">
        <img src="{% static 'assets/img/campaign_images/purim/image12.jpg' %}">
    </div>

</div>
{% endblock content %}