{% extends "mainPage/index.html" %}
{% load static %}

{% block header_image %}{% static 'assets/img/page_backgrounds/aboutImage.jpg' %}{% endblock %}
{% block header_title %}אודות{% endblock %}

{% block content %}
<!-- Main Content-->
<div class="col-md-10 col-lg-8 col-xl-10">
    <h2 class="post-title">אודות כולנו אחים</h2>
    <hr class="my-4"/>
    <p>
        מספר לא מבוטל של משפחות ברחבי הארץ נתמך על ידי עמותות חסד. בעוד התרומות עצמן מבורכות,
        הבעיה המרכזית שנוצרת היא שהתלות שהמשפחות מפתחות בעמותות חיצוניות הולכת וגדלה ככל שהזמן עובר.
        כך, במקום לאפשר למשפחות לצאת ממעגל העוני ולחיות חיים עצמאיים,
        התוצאה ההפוכה היא שמתרחשת, הן נזקקות לסלי המזון באופן קבוע.
    </p>
    <p>
        כולנו אחים היא עמותה שהוקמה ב2021 במטרה לאפשר למשפחות לשבור את מעגל העוני,
        ליצור חיים שאינם תלויים בסלי מזון מעמותות כל שהן, מתוך אמונה ש"תן לאדם דג,
        הוא ישבע ליום אחד; למד אותו לדוג, הוא ישבע כל חייו".
    </p>
    כמובן, העמותה מספקת סלי מזון וסיוע לעשרות משפחות באיזור המרכז באופן שבועי,
    ובחגים אף כולל משלוחי מנות ותחפושות, סביבונים וחנוכיות, מצות וקערות ליל הסדר, ועוד, בהתאם לחג.

    <p>מוזמנים לקרוא על הקמפיינים שלנו <a href="{% url 'activitiesPage' %}">כאן</a>.</p>

    <p>
        בנוסף לזה, כדי למנוע פיתוח תלות מצד המשפחות,
        העמותה מקדמת תהליך כלכלי בצוותא עם המשפחות כדי לאפשר להן ללמוד איך להתנהל כלכלית בצורה נכונה,
        ולאפשר להם חיים בלתי תלויים.
    </p>

    <p>
        כדי להשיג מטרה זו, העמותה מבצעת ביקורי בתים, ייעוצים כלכליים
        ופגישות שבועיות כדי ללמד את המשפחות איך לנהל את הכסף שלהן בצורה מיטבית.
        בצורה זו, המשפחה לומדת לתמוך בעצמה.
    </p>

    <div class="content-container">
        <p>
            התהליך הכלכלי נמצא בראש מעייניה של העמותה, מתוך הבנה שבטווח הארוך,
            משפחה אשר נזקקת לסלי מזון מונעת מעצמה הזדמנות לעתיד טוב יותר.
            בסופו של התהליך, כאשר המשפחה כבר מסוגלת לתמוך בעצמה באופן מלא,
            היא יוצאת מרשימת המשפחות הנזקקות ומפסיקה לקבל סיוע.
            <br><br>
            כחלק מהתהליך הכלכלי, כולנו אחים וארגון מקימי עובדים ביחד.
            ארגון מקימי הוא ארגון שהוקם ב2010 ומתמחה בניהול כלכלי.
            <br><br>
            מוזמנים לקרוא עוד על ארגון מקימי <a href="https://mekimi.org.il/">כאן</a>.
            <br><br>
            השת"פ עם ארגון מקימי מאפשר לנו להעביר את הכלים הנכונים לניהול כלכלי למשפחות בצורה המיטבית,
            בידי ארגון אשר עוסק בתחום במשך יותר מעשור וסייע למעל 4000 משפחות אשר נקלעו למצוקה כלכלית.
            <br><br>
            כל משפחה חדשה שמצטרפת מתחילה תהליך עם ארגון מקימי,
            מתוך רצון להוציא את המשפחה בעתיד מרשימת המשפחות הנזקקות.

        </p>
        <img class='image' src="{% static 'assets/img/about/financial.jpg' %}" alt='תמונה לאודות'>
    </div>

    <p>
        כדי להפיק את המיטב, התהליך מותאם לכל משפחה ומשפחה באופן אישי וכולל יצירת מעטפת עבורה.
        המעטפת כוללת עזרה מנטלית, חוגים לילדים, ניטור ההתקדמות אחר המצב הכלכלי ועוד,
        כדי להבטיח שהמשפחה עומדת ביעדים. בצורה זו, התהליך גם מותאם לקצב ההתקדמות של המשפחה,
        כדי למנוע מצב בו המשפחה נשארת מאחור.
    </p>

    <p>
        בסופו של יום, אנחנו מאמינים ש"הדבר הכי גדול בעולם הוא לעשות טובה למישהו אחר".
        כל עובדי העמותה מתנדבים בצורה מלאה, וכל שקל שנתרם הולך כולו למשפחות אשר זקוקות לו.
    </p>


</div>
{% endblock content %}