{% extends "mainPage/index.html" %}
{% load static %}

{% block header_image %}{% static 'assets/img/page_backgrounds/wall.jpg' %}{% endblock %}
{% block header_title %}הקיר הרביעי{% endblock %}


{% block content %}
<!-- Main Content-->
<div class="col-md-10 col-lg-8 col-xl-7">
    <h2>הקיר הרביעי</h2>
    <hr class="my-4"/>
    <p>
        הקיר הרביעי הוא מושג בתיאטרון, המתייחס אל הקיר הדמיוני המפריד בין הקהל לבמה, בתיאטרון בעל קשת פרוסניום (במת
        מסגרת תמונה).
    </p>
    <p>
        על הבמה בנויים שלושה קירות אמיתיים של חדר, והקהל, כביכול, מציץ לתוך עולם ההתרחשות על הבמה דרך קיר
        רביעי שקוף. שקיפות זו היא בדרך כלל חד-כיוונית: הקהל יכול לראות את ההצגה, אך הדמויות על הבמה מתנהגות בהתאם לעלילה
        בלי להתייחס לעובדה שהקהל צופה בהן.
    </p>
    <p>
        בפועל, הקיר הרביעי התקיים כבר במחזות יוון העתיקה ובימי שייקספיר, אך הוא הוגדר כמושג רק על ידי דני דידרו בן המאה
        ה-18, וזכה לפרסום בעיקר בתיאטרון הריאליסטי של המאה ה-19. אף על פי שהמושג המקורי התייחס לתיאטרון, הוא התרחב בהמשך
        כך שיכלול את ההפרדה בין הצופה ליצירה בסוגי מדיה רבים, ובהם ספרות, קולנוע, טלוויזיה, קומיקס ואף משחקי וידאו.
    </p>    
</div>
{% endblock content %}
