{% extends "mainPage/index.html" %}
{% load static %}

{% block header_image %}{% static 'assets/img/page_backgrounds/staffImage.jpg' %}{% endblock %}
{% block header_title %}סגל{% endblock %}

{% block additional_links %}
<link href="{% static 'css/staff.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<!-- Main Content-->
<div class="container">
    <h2 class="post-title">צוות העמותה</h2>
    <hr class="my-7"/>
    <div class="row">
        <div class="col-md-3 col-sm-6" style="margin-bottom: 30px;">
            <div class="our-team">
                <img src="{% static 'assets/img/staff/Shalev.jpeg' %}" alt="">
                <div class="team-content">
                    <p class="description">
                        מנכ"ל וממייסדי כולנו אחים.
                        הגה את רעיון הקמת העמותה והוא חלק בלתי נפרד מחייו. סטודנט למדעי המחשב.
                        חי מתוך הרצון לתת.
                        <br><br>
                        'הדרך הכי טובה למצות את עצמך היא לצאת מעצמך'
                    </p>
                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?id=100037089186796"><i
                                class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="team-prof">
                    <h3 class="post-title">שלו עובד</h3>
                    <span class="post">מנכ"ל</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="{% static 'assets/img/staff/Shir.jpeg' %}" alt="">
                <div class="team-content">
                    <p class="description">
                        ממייסדות כולנו אחים. בעלת תואר ראשון במנהל עסקים.
                        רו"ח מבקרת החברה ומאמנת להתפתחות אישית. משלבת שגרת חיים בלתי נפרדת מפעילות העמותה. בשאיפה לחיים מלאים בחסד.
                        <br><br>
                        'נתינה אמיתית היא אהבה שאינה תלויה בדבר'
                    </p>
                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/shir.ovad.73"><i
                                class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="team-prof">
                    <h3 class="post-title">שיר עובד</h3>
                    <span class="post">מנהלת שיווק ופרסום ורו"ח מלווה</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="{% static 'assets/img/staff/Gal.jpeg' %}" alt="">
                <div class="team-content">
                    <p class="description">
                        ממנהלות כולנו אחים. בעלת תואר ראשון במנהל עסקים.
                        עובדת בחברת סימנס. רואה בשיתוף פעולה כדרך לחיים טובים יותר בחברה.
                        <br><br>
                        'במקום שאין אנשים השתדל להיות איש'
                    </p>
                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?id=100000190925378"><i
                                class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="team-prof">
                    <h3 class="post-title">גל שלמה</h3>
                    <span class="post">מנהלת רכש</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="{% static 'assets/img/staff/Adi.jpeg' %}" alt="">
                <div class="team-content">
                    <p class="description">
                        ממייסדות כולנו אחים. סטודנטית לחינוך מיוחד במכללת גבעת ווישגנטון ובעלת עסק קוסמטי.
                        פועלת בעמותה מתוך שליחות ורצון לעשות עוד טוב בעולם.
                        <br><br>
                        'שילוב שגרת החיים הפרטיים יחד עם נתינה כלפי החברה הסובבת אותנו'
                    </p>
                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/adigerafi99"><i
                                class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="team-prof">
                    <h3 class="post-title">עדי שלום</h3>
                    <span class="post">מנהלת תקשורת משפחות העמותה</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="{% static 'assets/img/staff/Ron.jpeg' %}" alt="">
                <div class="team-content">
                    <p class="description">
                        ממייסדי כולנו אחים. סטודנט לחינוך מיוחד במכללת אורות ישראל.
                        מאמן להתפתחות אישית בשאיפה לתרום גם מחלק זה לטובת פעילות העמותה.
                        <br><br>
                        'על שלושה דברים העולם עומד, על התורה, ועל העבודה, ועל גמילות חסדים'
                    </p>
                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php/?id=61550824016598"><i
                                class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="team-prof">
                    <h3 class="post-title">רון עובד</h3>
                    <span class="post">מנהל כוח אדם ופעילות שוטפת</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="{% static 'assets/img/staff/Idan.jpeg' %}" alt="">
                <div class="team-content">
                    <p class="description">
                        ממייסדי כולנו אחים. סטונדט להנדסה תעשייה וניהול בHIT.
                        פועל בעמותה תוך שילוב שגרת חיים מלאים בעשייה של משפחה ולימודים.
                        הארת פנים היא דרך חייו.
                        <br><br>
                        'לא תמיד קל לתת אבל הקושי הוא מה שהופך את זה לשליחות'
                    </p>
                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?id=100094350722903&mibextid=9R9pXO"><i
                                class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="team-prof">
                    <h3 class="post-title">עידן יעקובי</h3>
                    <span class="post">מנהל כספים</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="{% static 'assets/img/staff/Zhor.jpg' %}" alt="">
                <div class="team-content">
		        <p class="description">
                        חלק בלתי נפרד מפעילות הנהלת כולנו אחים. תלמיד בישיבת הסדר.
                        יוזם ופועל לקידום פרויקט חינוך וייעוץ כלכלי בעמותה.
                        <br><br>
                        'עשייה מתמדת וקידום ומימוש מלא של הפוטנציאל'
                    </p>
                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/tzur155?mibextid=LQQJ4d"><i
                                class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="team-prof">
                    <h3 class="post-title">צור דרורי</h3>
                    <span class="post">מנהל ייעוץ וחינוך כלכלי</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <img src="{% static 'assets/img/staff/Yehonatan.jpeg' %}" alt="">
                <div class="team-content">
                    <span class="post"></span>
                    <p class="description">
                        בונה האתר ומסייע בחלוקת סלי מזון. סטונדט למדעי המחשב.
                        <br><br>
                        'לאן עפים הברווזים שהאגם קפוא?'
                    </p>
                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/yehonatan.peleg/"><i
                                class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="team-prof">
                    <h3 class="post-title">יהונתן פלג</h3>
                    <span class="post"></span>
                </div>
            </div>
        </div>

        <footer>
            <p>Powered by <a href="https://www.bestjquery.com/codelab/" target="_blank">BestjQuery</a></p>
        </footer>

    </div>

</div>

{% endblock %}
